/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes bounce {
    0%, 100% {
      transform: translateY(-25%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: translateY(0);
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }
  
  .animate-bounce {
    animation: bounce 1s infinite;
  }
  
  .animate-bounce-delay-100 {
    animation: bounce 1s infinite;
    animation-delay: 0.33s; /* Delayed by 1/3 of the total duration */
  }
  
  .animate-bounce-delay-200 {
    animation: bounce 1s infinite;
    animation-delay: 0.66s; /* Delayed by 2/3 of the total duration */
  }
  